{% load crispy_forms_tags %}

<div class="col-sm-12">
    <h3>Post your answer</h3>
    <form method="post"
            action="{% usr 'qanda:answer_question' pk=question.id %}">
        {{ answer_from | crispy }}
        {% csrf_token %}
        <button class="btn btn-primary" type="submit"
                namd="action" value="PREIVEW">
            Preview
        </button>
        <button class="btn btn-primary" type="submit"
                name="action" value="SAVE">
            Answer
        </button>
    </form>
</div>